params {
	
	tsv 				= "$projectDir/data/assemblies.tsv" 	// we could change this to NULL
	column_id_value 	= "Assembly Accession"
	column_path_value 	= "Path"
	column_taxid_value 	= "Organism Taxonomic ID"
	column_scientific_name = "Organism Name"
	outdir	= "$projectDir/output"
	assemblies_dir 	= "$projectDir/assemblies"

	selenoprofile = "eukarya"
}